<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/w3schools.com/w3.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	</head>

	<body style="padding-left:10%; padding-right:10%;">
		<div class="w3-bar w3-light-grey w3-border">
  			<a href="#" class="w3-bar-item w3-button w3-teal">Home</a>
  			<a href="#" class="w3-bar-item w3-button">Support</i></a>
			<a href="#" class="w3-bar-item w3-button">About</i></a>
		</div>

<div style="padding:3%;"></div>
<div style="padding-left:20%; padding-right:20%;">
<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Result</h2>
 </div>
 {{ data | safe }}
</div>
</div>

<div style="padding:3%;"></div>
		<div class="w3-bar w3-light-grey w3-border">
			<div class="container">
        		<p style="text-align:center;">Copyright &copy; Site Spell Cheker 2018</p>
      		</div>
		</div>
	</body>
</html>
