table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 0.5px solid #4CAF80;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF80;
    color: white;
}

